*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:transparent;
    overflow:hidden;
}

.scoreboard{
    width:1200px;
    margin:20px auto;
}

/* =========================
   EXTRA INFO
========================= */

.extra-info{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    background:#111;
    color:#fff;
    padding:10px;
    border-radius:10px 10px 0 0;
    border:2px solid #333;
    font-size:18px;
}

.extra-info span{
    color:#00ff66;
    font-weight:bold;
}

/* =========================
   TOP BAR
========================= */

.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#111;
    border:3px solid #fff;
}

.team{
    width:35%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    padding:18px;
    color:#fff;
    font-size:34px;
    font-weight:bold;
    text-transform:uppercase;
}

.left{
    background:#0057ff;
}

.right{
    background:#d50000;
}

.team-logo{
    width:60px;
    height:60px;
    object-fit:contain;
    background:#fff;
    border-radius:50%;
    padding:4px;
}

/* =========================
   SCORE BOX
========================= */

.score-box{
    width:30%;
    text-align:center;
    background:#000;
    color:#fff;
    padding:12px;
}

.live{
    color:#ff4040;
    font-weight:bold;
    font-size:22px;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.score{
    font-size:62px;
    font-weight:bold;
    color:#ffe600;
}

.overs{
    font-size:24px;
    margin-top:6px;
}

.crr{
    margin-top:8px;
    font-size:22px;
}

.crr span{
    color:#00ff66;
    font-weight:bold;
}

/* =========================
   BATSMEN
========================= */

.middle{
    display:flex;
    background:#202020;
}

.player{
    width:50%;
    text-align:center;
    color:#fff;
    padding:18px;
}

.player:first-child{
    border-right:1px solid #555;
}

.title{
    color:#ffd600;
    font-size:22px;
}

.player div:nth-child(2){
    margin-top:10px;
    font-size:30px;
    font-weight:bold;
}

.player div:nth-child(3){
    margin-top:8px;
    font-size:24px;
    color:#00ff66;
}

/* =========================
   BOTTOM BAR
========================= */

.bottom{
    display:flex;
    justify-content:space-around;
    background:#000;
    color:#fff;
    padding:15px;
    font-size:20px;
    border-top:3px solid gold;
}

.bottom span{
    color:#ffe600;
    font-weight:bold;
}

/* =========================
   MATCH INFO
========================= */

.match-info{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#161616;
    color:#fff;
    padding:12px;
    border-top:2px solid #333;
    font-size:18px;
}

.match-info span{
    color:#00ff66;
    font-weight:bold;
}
