*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:transparent;
    overflow:hidden;
}

.scoreboard{
    width:1200px;
    margin:20px auto;
}

/* TOP BAR */

.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#111;
    border:3px solid #fff;
}

.team{
    width:35%;
    color:#fff;
    text-align:center;
    font-size:42px;
    font-weight:bold;
    padding:20px;
    text-transform:uppercase;
}

.left{
    background:#0048ff;
}

.right{
    background:#e00000;
}

.score-box{
    width:30%;
    background:#111;
    text-align:center;
    color:#fff;
    padding:10px;
}

.live{
    color:#ff3030;
    font-size:22px;
    font-weight:bold;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.score{
    font-size:60px;
    font-weight:bold;
    color:#ffe600;
    margin-top:5px;
}

.overs{
    font-size:28px;
    color:#fff;
    margin-top:5px;
}

.crr{
    font-size:24px;
    color:#fff;
    margin-top:8px;
}

.crr span{
    color:#00ff66;
    font-weight:bold;
}

/* BATTING */

.middle{
    display:flex;
    background:#222;
    border-top:3px solid #fff;
}

.player{
    width:50%;
    text-align:center;
    color:#fff;
    padding:18px;
    border-right:1px solid #555;
}

.player:last-child{
    border-right:none;
}

.title{
    color:#ffe600;
    font-size:22px;
    margin-bottom:10px;
}

.player div:nth-child(2){
    font-size:36px;
    font-weight:bold;
}

.player div:nth-child(3){
    font-size:28px;
    margin-top:8px;
}

/* BOTTOM */

.bottom{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#000;
    color:#fff;
    font-size:24px;
    padding:15px;
    border-top:4px solid gold;
}

.bottom span{
    color:#ffe600;
    font-weight:bold;
}
